
$logoRed: #cf4545;
$middleRed: #BB4242;
$darkRed: #A73E3F;
$brandy: #7F3738;

$logoBlack: #292828;
$black1: #2F2D2E;
$black2: #353233;
$black3: #494345;

// $gray0: #544E50;
$gray1: #5E585A;
$gray2: #686364;
$gray3: #979495;
$gray4: #C6BEBE;

$lightGray0: #EBE8E8;
$lightGray1: #F6F4F4;
$white: #F9F9F9;

// usage

$mainBg: $lightGray1;

$headerBg: $lightGray0;

$navBg: $black3;
$navBtnText: $white;
$navBtnHover: $gray1;
$navBtnActive: $gray4;